{{define "index/index.html"}}
{{template "common/header.html"}}

<div class="container-fluid" style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-2" id="left-nav">
            <ul id="left-menu">
                <li>
                    <a href="#" class="nav1">
                        <span class="glyphicon glyphicon-triangle-right title-1" aria-hidden="true"></span>
                        wochacha</a>
                    <ul>
                        <li>
                            <a href="#" class="nav2">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                ggstudy</a>
                            <ul>
                                <li><a href="#" class="nav3" urlId="3">price3</a></li>
                                <li><a href="#" class="nav3">apiinfo3</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#" class="nav1">
                        <span class="glyphicon glyphicon-triangle-bottom title-1" aria-hidden="true"></span>
                        wochacha</a>
                    <ul>
                        <li>
                            <a href="#" class="nav2">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                ggstudy</a>
                            <ul>
                                <li><a href="#" class="nav3" urlId="3">price3</a></li>
                                <li><a href="#" class="nav3">apiinfo3</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <select class="form-control" id="method" name="method">
                        <option value="1">GET</option>
                        <option value="2">POST</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control"
                           placeholder="Enter request URL" id="url">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default" id="send" onclick="sendClick()">Send</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <pre id="json-renderer" style="padding-left:30px;margin-top: 20px;min-height: 400px;"></pre>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin-left: -100px;">
                    <div class="row">
                        <div class="header response-header">response header</div>
                        <div class="row" id="response-content">
                        </div>
                        <div class="header request-header">request header</div>
                        <div class="row">
                            <div class="col-md-3"><input type="text" value="1"></div>
                            <div class="col-md-1"><input type="text" value="1"></div>
                            <div class="col-md-6"><input type="text" value="1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "common/footer.html"}}
{{end}}
