/*a:link {*/
/*text-decoration: none;*/
/*!*color: blue*!*/
/*}*/

/*a:active {*/
/*text-decoration: blink*/
/*}*/

/*a:hover {*/
/*text-decoration: underline;*/
/*!*color: red*!*/
/*}*/

/*a:visited {*/
/*text-decoration: none;*/
/*color: green*/
/*}*/

#left-menu a {
    color: #444;
    text-decoration: none;
}

#left-menu a:hover {
    background-color: rgb(245, 245, 245);
}

#left-menu, #left-menu ul {
    padding-left: 0px;
}

#left-menu > li {
    border: 0px;
    border-bottom: 1px;
    border-color: #ccc;
    border-style: solid;
    padding-bottom: 5px;
}

#method-select-div {
    border: 1px;
    border-style: solid;
    border-color: #ccc;
    height: 35px;
    width: 60%;
}

#method-select {
    height: 35px;
    width: 100%;
    padding-left: 20px;
    border: 0;
    appearance: none;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.nav1 {
    height: 50px;
    line-height: 50px;
}

.nav2 {
    height: 35px;
    line-height: 35px;
    padding-left: 20px;

}

.nav3 {
    height: 25px;
    line-height: 25px;
    padding-left: 50px;
    /*background-color: #222222;*/
}

.nav3:hover {
    /*background-color: #0B7500;*/
}

.nav3:visited {
    /*background-color: #1A01CC;*/
}

ul li {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

li a {

    /*background-color: #ccc;*/
    display: block;
    margin-top: 5px;
}

.header {
    /*background-color: #ccc;*/
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    cursor: pointer;
}

#right h2 {
    height: 40px;
    line-height: 40px;
    background-color: #eee;
}

.header {
    background-color: rgb(238, 238, 238);
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    cursor: pointer;
}

.header .col-md-4 {
    margin-left: -10px;
}

#right input {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #888;
    /*width: 90%;*/
}

input:focus {
    outline: none;
    /*border:1px solid #f00;*/
    /*border-style: solid;*/
    /*border-color: #f00;*/
    /*background-color:yellow;*/

    border: 1px solid #0F996B;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.ml0 {
    margin-left: 0px;
}

#select_host {
    width: 10%;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;

    padding-left: 20px;
    /*border: 1px;*/
    /*appearance: none;*/
    /*background: transparent;*/
    /*-moz-appearance: none;*/
    /*-webkit-appearance: none;*/
}

#select_db {
    width: 5%;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;

    padding-left: 20px;
    /*border: 1px;*/
    /*appearance: none;*/
    /*background: transparent;*/
    /*-moz-appearance: none;*/
    /*-webkit-appearance: none;*/
}

#search input[type=text] {
    outline: none;
    width: 70%;
    height: 35px;
    line-height: 35px;

}

#search input[type=button] {
    padding-left: 2px;
    width: 4%;
    height: 35px;
    line-height: 30px;
    border-color: #0F996B;
    border-radius: 2px;
}