{{define "common/leftNav.html"}}




<div class="col-md-2" id="left-nav">
    <ul id="left-menu">
        <li>
            <a href="#" class="nav1">
                <span class="glyphicon glyphicon-triangle-right title-1" aria-hidden="true"></span>
                wochacha</a>
            <ul>
                <li>
                    <a href="#" class="nav2">
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        ggstudy</a>
                    <ul>
                        <li><a href="#" class="nav3" urlId="3">price3</a></li>
                        <li><a href="#" class="nav3">apiinfo3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="nav1">
                <span class="glyphicon glyphicon-triangle-bottom title-1" aria-hidden="true"></span>
                wochacha</a>
            <ul>
                <li>
                    <a href="#" class="nav2">
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        ggstudy</a>
                    <ul>
                        <li><a href="#" class="nav3" urlId="3">price3</a></li>
                        <li><a href="#" class="nav3">apiinfo3</a></li>
                    </ul>
                </li>

            </ul>
        </li>
    </ul>
</div>
{{end}}